/* General page styling */
body{
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg, #1e1e2f, #2c3e50);
    color:#fff;
    text-align:center;
    margin: 0;
    padding:0;
}

/* Title */
h1{
    margin-top: 50px;
    font-size: 3em;
    letter-spacing: 2px;
    color: #e9badb;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5)
}

/* Dice Container */
.dice-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Each Dice Card */
.dice-card{
    background: #34495e;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: transform 0.2s ease;
}

.dice-card:hover{
    transform: scale(1.05);
}

/* Input field */
.dice-card input{
    font-size: 1.5em;
    text-align: center;
    width: 60px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding:5px;
}

/* Buttons */
button{
    background: #dd95b3;
    border:none;
    padding: 10px 20px;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition:background 0.3s;
}

button:hover{
    background: #d853c2;
}

