body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #000000, #041f1b);
    margin: 0;
    padding: 20px 0;

}

h1{
    color:#ffffff;
    font-size: 3em;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    margin: 0;
    text-align: center;
}


.password-container{
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    margin: 20px auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
}


.strength-meter {
    width: 100%;
    height: 15px;
    background: #eee;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 5px;
}


#strength-bar {
    height: 100%;
    width: 0%;
    background: red;
    transition: width 0.3s, background 0.3s;
}


#strength-text {
    font-weight: bold;
}