:root{
    --primary-bg: white;
    --primary-text: #000000; /* dark text for light background */
    --heading-text: #000000;
    --dash-heading-text: white;
    --navbar-bg: #1D3B58;
    --navbar-text: white;
    --banner-bg: #001024;
    --button-bg: black;
    --button-text:white;
    --sign-up-button-bg:#5C6C7D;
    --card-bg:#C4CBD6;
    --form-bg: #5C6C7D;
    --footer-bg: #1D3B58;
    --footer-text: white;
}


/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* General styling */
body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
    padding: 20px;
}





/* Header and titles */
h1 {
    text-align: center;
    color: var(--heading-text);
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: var(--primary-text);
    margin-bottom: 20px;
}





/******************************************** Navbar *********************************************/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--navbar-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

/* nav links */
.nav li a {
    text-decoration: none;
    color: var(--navbar-text);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav li a:hover {
    background-color: #252d35;
}

.nav-logo {
    height: 80px;
    width: auto;
    max-width: 100px;
    object-fit: contain;
}

.nav-left img{
    width:100px;
    height:100px;
}

/*********************** Main *******************/
.main1{
margin-top: 80px;
margin-bottom: 10px;
}

.main2{
    margin-top: 10px;
}

.main3{
    margin-top: 150px;
}

.main4{
    margin-top: 112px;
}



/****************************************************** Buttons **********************************************************/
button {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sign-up-button {
    background-color: var(--sign-up-button-bg);
    color: var(--button-text);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-button {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
   
.findout-button {
    background-color: #d8e0ec;
    color:black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.quick-button {
    background-color: #0D3749;
    color: var(--button-text);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.hot-button{
    background-color: #C4CBD6;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cold-button{
    background-color: #5C6C7D;
    color: var(--button-text);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pollen-button{
    background-color: #0D3749;
    color: var(--button-text);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover,
.button:hover,
.sign-up-button:hover,
.login-button:hover,
.findout-button:hover,
.quick-button:hover,
.hot-button:hover,
.cold-button:hover,
.pollen-button:hover,
.bottom-banner .button:hover,
.dash-bottom-banner .button:hover,
.btn-link:hover {
    background-color: #333333;
}




/******************************************************************* LANDING PAGE *************************************************************************/

/* Main landing page content */
.content{
    background-image: url("images/clouds.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 76vh;
    width: 100%;
    position: relative;

    text-align: center;
    color: black;
}

.content h1{
    padding-top: 220px;
    font-size: 60px;
    margin-bottom: 20px;
    color: black;
}

.content p{
    padding-bottom: 30px;
}


/*************** Banner ***************/
.banner{
    background-color: var(--banner-bg);
    color: var(--button-text);
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.banner h2{
    font-size: 30px;
    color: var(--button-text);
    text-align: right;
    margin-bottom: 0;
}

.banner p {
    font-size: 16px;
    padding-bottom: 10px;
}




/******* Quick links to weather forecast and air quality dashboard **********/
.quick-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 0;
}

.quick-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 3000px;
    text-align: center;
    transition: transform 0.3 ease;
 
}

.quick-card:hover {
    transform: translateY(-5px);
}

.quick-card img {
    width: 1000px;
    height: 500px;
    object-fit: cover;
}

.quick-card-content {
    padding: 1rem;
}

.quick-card h5 {
    margin-bottom: 1rem;
    font-size: 0.95rem;
    color: #333;
    font-weight: normal;
}



/************************************************************************** Footer ***********************************************************************/
.site-footer {
    background: var(--footer-bg);
    color: var(--footer-text);
    padding: 3rem 2rem 1rem;
    font-size: 0.95rem;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.footer-column h4 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: var(--footer-text);
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.footer-column ul li a {
    color: var(--footer-text);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #3cc4d6;
}



.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    border-top: 1px solid #3a4a5a;
    padding-top: 1rem;
    font-size: 0.85rem;
}






/*************************************************************** HEALTH ADVICE PAGE ***************************************************************/
.advice h1 {
    padding-top: 50px;
    font-size: 60px;
    color: var(--heading-text);
}

.advice-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    color:black;
}


.advice-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 550px;
    text-align: center;
    transition: transform 0.3s ease;
}

.advice-card:hover {
    transform: translateY(-5px);
}

.advice-card img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.advice-card-content {
    padding: 1rem;
    color: black;
}

.advice-card h3 {
    margin-bottom: 1rem;
    color: #333;
    font-weight: bold;
}

.advice-card-content a {
    display: inline-block;
    margin-top: 1rem;
}


/***** Advice banner ******/
.advice-banner{
    background-color: var(--banner-bg);
    color: var(--button-text);
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advice-banner h2{
    font-size: 30px;
    color: var(--button-text);
    text-align: center;
    margin-bottom: 20px;
}

.advice-banner p {
    font-size: 16px;
    padding-bottom: 20px;
}



/**** Training resources section ******/

.training h1{
    text-align: center;
    font-size: 50px;
}

.training p {
     color: var(--primary-text);
     text-align: center;
}



.training-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    color: black;
}

.training-cards p {
    color: black;
}


.training-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 550px;
    text-align: center;
    transition: transform 0.3 ease;
}

.training-card:hover {
    transform: translateY(-5px);
}

.training-card img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.training-card-content {
    padding: 1rem;
}

.training-card h3 {
    margin-bottom: 1rem;
    color: #333;
    font-weight: bold;
}

.training-card-content a {
    display: inline-block;
    margin-top: 1rem;
}



/************ Heatwave card **********/
.heatwave-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 550px;
    text-align: center;
    transition: transform 0.3 ease;
}

.heatwave-card:hover {
    transform: translateY(-5px);
}

.heatwave-card img {
    width: 350px;
    height: 500px;
    object-fit: cover;
}




/************ Winter card **********/
.winter-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 550px;
    text-align: center;
    transition: transform 0.3 ease;
}

.winter-card:hover {
    transform: translateY(-5px);
}

.winter-card img {
    width: 500px;
    height: 250px;
    object-fit: cover;
}



/************ Pollution card **********/
.pollution-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 550px;
    text-align: center;
    transition: transform 0.3 ease;
}

.pollution-card:hover {
    transform: translateY(-5px);
}

.pollution-card img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}



/************************************************** WEATHER FORECAST PAGE ******************************************************/
.weather_content{
    background-image: url("images/weather.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;

    text-align: center;
    color: var(--primary-text);
}

.weather_content h1{
    padding-top: 50px;
    font-size: 60px;
    margin-bottom: 20px;
    color: black;
}


.alert-box {
    background: #ffcccc;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    color: #a30000;
    font-weight: bold;
}

.forecast-day {
    background: #f0f0f0;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    text-align: center; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    transition: transform 0.3s ease;
}

.forecast-day:hover {
    transform: translateY(-5px);
}



/* Container for all forecast cards */
.forecast-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* allows wrapping on smaller screens */
    margin-top: 20px;
    color: black;
}

/* Individual forecast card */
.forecast-day {
    background: #f0f0f0;
    padding: 25px;
    width: 300px; /* controls card size */
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.city-search {
    margin-bottom: 20px;
}

.city-search input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.city-search button {
    padding: 10px 15px;
    border: none;
    background: #284f7a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.city-search button:hover {
    background: #005fcc;
}

/************************************************** AIR QUALITY DASHBOARD ******************************************************/

.aqi_content{
    background-image: url("images/Airqual.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    color: var(--primary-text);
}

.aqi_content h1{
    padding-top: 50px;
    font-size: 60px;
    margin-bottom: 20px;
    color: black;
}

.aqi-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* allows wrapping on smaller screens */
    flex-direction: column; /* stack items vertically */
    margin-top: 20px;
    padding: 50px;
    width: 500px; /* controls card size */
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    
    /* Center the container */
    margin-left: auto;
    margin-right: auto;
 
}


.aqi-container p strong {
    font-size: 20px;
  
}


.aqi-container h4 {
    margin-top: 25px;
    font-size: 22px;

}

.aqi-container p {
    font-size: 16px;
    line-height: 1.6;
}



/* AQI level styles */

.aqi-good {
    background: #d4edda; /* soft green */
    border-left: 6px solid #28a745;
}

.aqi-fair {
    background: #e8f5e9; /* pale green */
    border-left: 6px solid #66bb6a;
}

.aqi-moderate {
    background: #fff8dc; /* light yellow */
    border-left: 6px solid #f4c430;
}

.aqi-poor {
    background: #ffe5e5; /* light red */
    border-left: 6px solid #e74c3c;
}

.aqi-very-poor {
    background: #f8d7da; /* deeper red */
    border-left: 6px solid #c0392b;
}

.aqi-unknown {
    background: #f0f0f0;
    border-left: 6px solid #999;
}










/************************************************** HOME RISK ASSESSMENT PAGE ******************************************************/

.assessment h1{
    padding-top: 150px;
    font-size: 60px;
    margin-bottom: 20px;
    color: black;
}

.assessment p{
    padding-bottom: 30px;
    text-align: center;
    
}


.assessment h3{
    color: black;
}
.assessment input[type="text"]{
    width: 100%;
    padding: 40px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}








/************************************************** SIGN-UP PAGE ******************************************************/
.register-page{
    background-image: url("images/road.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;

    text-align: center;
    color: var(--primary-text);
}

.register-page h1{
    padding-top: 150px;
    font-size: 55px;
    margin-bottom: 20px;
    color: white;
}

.register-page p{
    padding-bottom: 30px;
}


/****** Forms *****/
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(46, 77, 44, 0.2);
    text-align: left;
}

label {
    display: block;
    margin-top: 15px;
    color: black;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.register-page .sign-up button {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 10px 195px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.register-page .sign-up button:hover {
    background-color:#333;
}

/** Error and Success messages **/
.message {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 9999;
}

.message.success { color: green; }
.message.error { color: red; }



/************************************************** LOGIN PAGE ******************************************************/
.login-page{
    background-image: url("images/storm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;

    text-align: center;
    color: var(--primary-text);
}

.login-page h1{
    padding-top: 150px;
    font-size: 55px;
    margin-bottom: 20px;
    color: white;
}

.login-page p{
    padding-bottom: 30px;
}

.login-page .login button {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 10px 195px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-page .login button:hover {
    background-color:#333;
}



/************************************************** PERSONAL DASHBOARD ******************************************************/

/* Main landing page content */
.dash-content{
    background-image: url("images/star.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}

.dash-content h1{
    padding-top: 220px;
    font-size: 80px;
    margin-bottom: 20px;
    color: white;
}

.dash-button-left{
    background-color:#C4CBD6;
    padding:10px 20px;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    text-decoration:none;
    transition: background color 0.3s ease;
    margin-right: 25px
}

.dash-button-left:hover{
    background-color:#333333;
}

.dash-button-right{
    background-color: #5C6C7D;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight:bold;
    text-decoration:none;
    transition: background color 0.3s ease;

}

.dash-button-right:hover{
    background-color:#333333;
}

.dash-banner{
    background-color: #5C6C7D;
    padding: 30px 40px;
}

.dash-banner h1{
    color: white;
    font-size: 60px;
}




.card-container{
    display: flex;
    gap: 200px;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.health-card {
    flex: 1 1 300px;
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    color: black;
    font-size: 16px;
    line-height: 1.6;
    max-width: 400px;
    justify-content: flex-start;
}

.bmi-card {
    background-color: #C4CBD6;
}

.hydration-card {
    background-color: #0D3749;
   
}

.health-card h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.card-button{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.card-inner{
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}


/************************************************** PERSONAL HEALTH TRACKER ******************************************************/
/* Main background section */
.health_content {
    background-image: url("images/sea.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    position: relative;

    text-align: center;
    color: white;
    padding-bottom: 60px; /* so footer doesn't overlap */
}

.health_content h1 {
    padding-top: 100px;
    font-size: 60px;
    margin-bottom: 20px;
    color: white;
}


/* FLEX CONTAINER FOR BOTH FORMS */
.form-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;

    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; /* allows stacking on small screens */
}

.form-container h2 {
    color: black;
}

/* INDIVIDUAL FORM BOXES */
.form-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    text-align: left;
    color: black;
}


/* LABELS */
.form-box label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


/* INPUT FIELDS */
.form-box input[type="number"],
.form-box input[type="integer"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* SUBMIT BUTTONS */
.form-box input[type="submit"] {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-box input[type="submit"]:hover {
    background-color: #333333;
    color: white;
}




/************************************************** PERSONAL HEALTH ADVICE ******************************************************/

.personal-content {
     background-image: url("images/halfmoon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    position: relative;

    text-align: center;
    color: white;
    padding-bottom: 60px; /* so footer doesn't overlap */
}

.personal-content h1 {
    padding-top: 100px;
    font-size: 60px;
    margin-bottom: 20px;
    color: white;
}


/* Container for both cards */
.advice-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
}

/* Shared card styling */
.advice-card {
    flex: 1 1 300px;
    max-width: 400px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    color: white;
    text-align: left;
}

/* BMI card background */
.bmi-card {
    background-color:#5C6C7D;
}

/* Hydration card background */
.hydration-card {
    background-color: #C4CBD6;
    color: black;
}

.advice-card h3 {
    margin-top: 0;
    font-size: 22px;
    color: #fff;
}

.advice-card p {
    font-size: 16px;
    line-height: 1.5;
}

.advice-icon {
    font-size: 28px;
    margin-top: 15px;
}
